In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [5]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd


from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [7]:
df = pd.read_csv('bank_dataset.csv')

In [12]:
df.drop('Unnamed: 0',axis = 1, inplace=True)

In [13]:
df

,label,msisdn,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,last_rech_amt_ma,...,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90,pcircle,pdate
0,0,21408I70789,272,3055.05,3065.15,220.13,260.13,2.0,0.0,1539,...,6.0,0.0,2.000000,12,6,0.0,29.000000,29.000000,UPW,7/20/2016
1,1,76462I70374,712,12122,12124.75,3691.26,3691.26,20.0,0.0,5787,...,12.0,0.0,1.000000,12,12,0.0,0.000000,0.000000,UPW,8/10/2016
2,1,17943I70372,535,1398,1398,900.13,900.13,3.0,0.0,1539,...,6.0,0.0,1.000000,6,6,0.0,0.000000,0.000000,UPW,8/19/2016
3,1,55773I70781,241,21.228,21.228,159.42,159.42,41.0,0.0,947,...,6.0,0.0,2.000000,12,6,0.0,0.000000,0.000000,UPW,6/6/2016
4,1,03813I82730,947,150.6193333,150.6193333,1098.9,1098.9,4.0,0.0,2309,...,6.0,0.0,7.000000,42,6,0.0,2.333333,2.333333,UPW,6/22/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189996,0,18013I82733,234,1200,1200,5072.4,5474.34,3.0,0.0,770,...,6.0,0.0,1.000000,6,6,0.0,0.000000,0.000000,UPW,7/7/2016
189997,1,91352I85340,1260,82293.59,82600.7,6612.94,7250.94,3.0,0.0,8000,...,12.0,0.0,4.000000,36,12,0.0,1.500000,1.666667,UPW,7/29/2016
189998,1,87635I84452,1457,5477,9574.42,1730.83,3614.71,7.0,0.0,1539,...,6.0,0.0,2738.998602,24,6,0.0,0.000000,5.000000,UPW,8/15/2016
189999,0,58569I90588,555,6229.698667,6256.37,4059.07,11634.55,14.0,0.0,10000,...,6.0,0.0,1.000000,6,6,0.0,0.000000,0.000000,UPW,7/22/2016
190000,1,54589I70782,617,13096,13290.78,8077.65,8347.65,20.0,0.0,2309,...,12.0,0.0,6.000000,42,12,0.0,5.000000,4.000000,UPW,7/31/2016

In [14]:
df.describe()

,label,last_rech_date_ma,last_rech_date_da,last_rech_amt_ma,cnt_ma_rech30,fr_ma_rech30,sumamnt_ma_rech30,medianamnt_ma_rech30,medianmarechprebal30,cnt_ma_rech90,...,cnt_loans30,amnt_loans30,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90
count,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,...,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000,190001.000000
mean,0.875069,3735.346070,3731.710966,2065.118510,3.976926,3709.413953,7704.611360,1814.503916,3842.143205,6.314546,...,2.758138,17.945621,276.634790,0.054160,18.364699,23.639181,6.701870,0.046289,3.401179,4.322936
std,0.330641,53814.346634,53558.030669,2375.847873,4.266573,53412.173826,10184.588317,2077.810950,53934.213470,7.210859,...,2.555767,17.390373,4267.364414,0.218396,223.312555,26.503844,2.102752,0.201153,8.836749,10.318272
min,0.000000,-29.000000,-29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-200.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,0.000000,770.000000,1.000000,0.000000,1540.000000,770.000000,11.000000,2.000000,...,1.000000,6.000000,6.000000,0.000000,1.000000,6.000000,6.000000,0.000000,0.000000,0.000000
50%,1.000000,3.000000,0.000000,1539.000000,3.000000,2.000000,4628.000000,1539.000000,33.870000,4.000000,...,2.000000,12.000000,6.000000,0.000000,2.000000,12.000000,6.000000,0.000000,0.000000,1.666667
75%,1.000000,7.000000,0.000000,2309.000000,5.000000,6.000000,10008.000000,1924.000000,83.000000,8.000000,...,4.000000,24.000000,6.000000,0.000000,5.000000,30.000000,6.000000,0.000000,3.750000,4.500000
max,1.000000,997717.809600,999171.809400,55000.000000,203.000000,999606.368100,810096.000000,55000.000000,999479.419300,336.000000,...,50.000000,306.000000,99864.560860,3.000000,4997.517944,438.000000,12.000000,3.000000,171.500000,171.500000

In [15]:
df.dropna().sum()

label                                                              166264
msisdn                  21408I7078976462I7037417943I7037255773I7078103...
aon                     2727125352419475685457681191536151182154887707...
daily_decr30            3055.0512122139821.228150.61933332257.36266728...
daily_decr90            3065.1512124.75139821.228150.61933332261.46288...
rental30                220.133691.26900.13159.421098.9368.13335.75900...
rental90                260.133691.26900.13159.421098.9380.13402.92549...
last_rech_date_ma                                          709719488.6317
last_rech_date_da                                          709028815.2544
last_rech_amt_ma                                                392374582
cnt_ma_rech30                                                      755620
fr_ma_rech30                                               704792360.4993
sumamnt_ma_rech30                                            1463883863.0
medianamnt_ma_rech30                                          344757558.5
medianmarechprebal30                                       730011051.0058
cnt_ma_rech90                                                     1199770
fr_ma_rech90                                                      1467347
sumamnt_ma_rech90                                              2355773309
medianamnt_ma_rech90                                          354474086.0
medianmarechprebal90                                         17521105.105
cnt_da_rech30                                             50325717.874707
fr_da_rech30                                               722253153.8212
cnt_da_rech90                                                        7853
fr_da_rech90                                                         8687
cnt_loans30                                                        524049
amnt_loans30                                                      3409686
maxamnt_loans30                                           52560886.752256
medianamnt_loans30                                                10290.5
cnt_loans90                                                3489311.132561
amnt_loans90                                                      4491468
maxamnt_loans90                                                   1273362
medianamnt_loans90                                                 8795.0
payback30                                                   646227.355264
payback90                                                   821362.125653
pcircle                 UPWUPWUPWUPWUPWUPWUPWUPWUPWUPWUPWUPWUPWUPWUPWU...
pdate                   7/20/20168/10/20168/19/20166/6/20166/22/20167/...
dtype: object

In [ ]:
'hi'